cairocffi==1.4.0
CairoSVG==2.6.0
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
contourpy==1.0.7
cssselect2==0.7.0
cycler==0.11.0
defusedxml==0.7.1
et-xmlfile==1.1.0
fonttools==4.38.0
iconify==0.0.103
idna==2.10
kids.cache==0.0.7
kiwisolver==1.4.4
libsass==0.21.0
matplotlib==3.6.3
mock==5.0.1
numpy==1.24.1
openpyxl==3.1.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
ply==3.11
pycparser==2.21
pyparsing==3.0.9
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PySide2==5.15.2.1
python-dateutil==2.8.2
pytz==2022.7.1
QT-PyQt-PySide-Custom-Widgets==0.6.4
QtPy==2.3.0
qtsass==0.3.2
requests==2.23.0
shiboken2==5.15.2.1
sip==6.7.6
six==1.16.0
tinycss2==1.2.1
toml==0.10.2
typing==3.7.4
urllib3==1.25.11
webencodings==0.5.1
